thead > tr > th {
  text-align: center;
  font-weight: normal;
}

tbody > tr > td {
  text-align: center;
}

tbody > tr > td:nth-child(2) {
text-align: left;
}

a {
color: #212529;
}

form{
border-radius: 10px;
}

