.sidenav {
  width: 200px;

}

.Logo {
  width: 8%;
  height: 80%;
  margin-right: 10%;
  filter: drop-shadow(2px 2px 0.05rem rgb(186, 34, 206));
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar{
  background-color: transparent !important;
  
}
.hidden {
  display: none;
}

.buttons, a{
  padding-left: 30%;
  color: white;
  text-decoration: none;
}

img{
  width: 9%;
  margin-left: 3%
}

@media only screen and (max-width: 1040px) {
  img{
    width: 30%;
    margin-top:3%;
    margin-left: 3%
  }
}