.sidenav {
  width: 200px;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar{
  background-color: transparent !important;
  
}
.hidden {
  display: none;
}

.buttons, a{
  color: white;
  text-decoration: none;
}

mat-nav-list {
  height: 100vh;
  background-color: #00b3a6;
  color: white !important;
  padding-top: 7%;
  padding-right: 15% !important;
}

mat-nav-list li {
  margin-bottom: 17%;
  margin-top: 17%;
  list-style: none; /* quita los estilos por defecto de lista */
}

.title {
  width: 15vh;
  height: 8vh;
  filter: drop-shadow(3px 3px 0.05rem rgb(186, 34, 206));
  font-weight: 500;
  margin-left: 10%;
  padding-top: 5%;
  cursor: pointer;
}

img{
  width: 9%;
  margin-left: 3%
}

.mat-sidenav-content {
  display: none;
} 

@media only screen and (max-width: 1040px) {
  .responsive_logo{
    width: 25%;
    filter: drop-shadow(3px 3px 0.05rem rgb(186, 34, 206));

  }
  .mat-toolbar{
    background-color: #00b3a6 !important;
  }
}