<div class="account">
  <div>
    <h2>Movimientos</h2>

    <div class="tabs">
      <nav class="nav">
        <div class="nav_tab">
          <span>Transactions</span>
        </div>
        <div class="nav_tab"><span>Deposits</span></div>
      </nav>
      <div class="contents">
        <div class="content">
          <div class="today">
            <div>Today, 9 Jan</div>
            <div>-$430.08</div>
          </div>
          <div class="transaction">
            <div class="transaction_who">
              <figure>
                <img
                  src="https://images.unsplash.com/photo-1573497620166-aef748c8c792?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
                />
              </figure>
              <div class="transaction_who__about">
                <div class="transaction__who_name">Apple</div>
                <div class="transaction__who_type">Appliances</div>
              </div>
            </div>
            <div>
              <div>- $1897.00</div>
              <div>11:45 AM</div>
            </div>
          </div>
          <div class="transaction">
            <div class="transaction_who">
              <figure>
                <img
                  src="https://images.unsplash.com/photo-1573497620166-aef748c8c792?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
                />
              </figure>
              <div>
                <div>Carlos</div>
                <div>Menem</div>
              </div>
            </div>
            <div class="transaction_data">
              <div>+ $250.00</div>
              <div>11:45 AM</div>
            </div>
          </div>
          <div class="transaction">
            <div class="transaction_who">
              <figure>
                <img
                  src="https://images.unsplash.com/photo-1573497620166-aef748c8c792?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
                />
              </figure>
              <div>
                <div>Amazon</div>
                <div>Purchases</div>
              </div>
            </div>
            <div>
              <div>- $32.76</div>
              <div>4:12 AM</div>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="transaction">
            <div>
              <div>
                <div>Deposit</div>
              </div>
            </div>
            <div>
              <div>+ $250.00</div>
              <div>11:45 AM</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
