<div>
  <h2>Facturas por vencer</h2>
  <body>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Municipalidad Córdoba</h5>

        <a href="#" class="btn btn-primary">Pagar</a>
      </div>
      <div class="card-footer text-muted">Hace 1 día</div>
    </div>
    
    <hr />

    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Epec</h5>

        <a href="#" class="btn btn-primary">Pagar</a>
      </div>
      <div class="card-footer text-muted">Hace dos días</div>
    </div>
  </body>
</div>
