.center {
  display: flex;
}

.landing {
  width: 100%;
  height: 100%;
}

.background_image {
  position: relative;
  background-image: url(../../assets/background-picture.png);
}

.title,
h1,
h2 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  font-style: normal;
  padding-left: 5%;
}
h1 {
  padding-top: 7%;
}

.cards {
  width: 70%;
  align-items: center;
  justify-content: center;
  padding-top: 6%;
  left: 12%; /*centré un poco las cards, pero luego hay que ajustarlo bien calculo.*/
  display: flex;
  position: absolute;
}

.card {
  border-radius: 10%;
  margin-left: 5%;
}

@media only screen and (max-width: 1040px) {
  .landing {
    background-color: rgb(139, 139, 167);
    background-image: none;
    background-size: cover;
    position: relative;
    height: 250% !important;
  }
  h1, h2 {
    margin-top: 5%;
    font-size: 29px;
    color: #000;  
  }
  .center, .card{
    display: block !important; 
    width: 83%;
    padding: 3%;
    margin-top: 10%;

  }
  .rest_of_cards{
    margin-top: 25%;
  }
}
