<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
      <h3 class="card-title text-center">Iniciar sesión a PIL Money</h3>
      <div class="card-text">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo electronico</label>
            <input
              type="email"
              class="form-control form-control-sm"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <a href="#" style="float: right; font-size: 12px"
              >¿Olvidó su contraseña?</a
            >
            <input
              type="password"
              class="form-control form-control-sm"
              id="exampleInputPassword1"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Iniciar sesión
          </button>

          <div class="sign-up">
            ¿No tiene una cuenta? <a href="#">Registrese</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
