<div>
  <h6 class="mb-3 card-title text-center">Ingresa dinero a tu cuenta</h6>
  <div class="card mb-3">
    <div class="text-center card-header">
      <p>
        Para ingresar pesos debes realizar una trasnerencia a la siguiente
        cuenta:
      </p>
      <p>Podés ingresar hasta 10.000 USD <a>¿Cómo funcionan los limites?</a></p>
    </div>
    <div class="card-body text-primary">
      <div class="card-text">
        <div>
          <p>
            Razon social: <span style="float: right">WALLET TRADE SRL</span>
          </p>
          <p>CUIT: <span style="float: right">123456789</span></p>
          <p>
            Banco:
            <span style="float: right">Banco Industrial SA Sucursal 1</span>
          </p>
          <p>
            Cuenta corriente: <span style="float: right">1-2346789/10</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body text-primary">
      <div class="card-text">
        <div>
          <p>CBU: 123456789013245676890</p>
          <p>ALIAS: WALLET.ARS</p>
        </div>
      </div>
    </div>
  </div>
</div>
