<body>
  <br />
  <div>Caja de ahorro {{caja_de_ahorro}} </div>
  <hr />

  <div class="balance">
    <div class="balance_text">Saldo disponible</div>
    <span class="amount b_color">$ {{ balance }}</span>
    <hr />
  </div>
  <div class="card_button">
    <button
      class="b_color buttons"
      routerLink="/operations/action"
      routerLinkActive="active"
    >
      Ingresar dinero
    </button>
    <button
      class="b_color buttons"
      routerLink="/operations/transfer"
      routerLinkActive="active"
    >
      Transferir dinero
    </button>
  </div>
</body>
