.b_color {
  color: #3700b3;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
}

.balance_text {
  font-size: 15px;
  color: #979797;
}

.amount {
  font-weight: 600;
  font-size: 36px;
}

.card_button {
  display: flex;
}
.buttons {
  margin: 10px;
  background: #f2e7fe;
  font-size: 18px;
  border-radius: 10px;
  padding: 3%;
  -webkit-appearance: initial;
  -webkit-appearance: inherit;
  border: none;
}

@media only screen and (min-width: 1040px) {
  .card_button {
    text-align: center;
  }
  .buttons {
    background: #f2e7fe;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 10%;
    -webkit-appearance: initial;
    -webkit-appearance: inherit;
    border: none;
  }
}
