body {
    font-family: roboto;
    line-height: 30px;
    width: 800px; margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 230px 100px;
    grid-gap: 30px;
    background-color: #fff;
  }

#titulo {
    width: 900px; margin: 0 auto;
    height: 50px;
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}

#withdrawals {
    width: 800px; margin: 0 auto;
    height: 50px;
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}
.card2 { 
    background: #F2E7FE;
    border-radius: 5px;
}
.card-body {
    background:#FAF5FE;
}
