<div class="wrapper">
  <app-left-nav-bar></app-left-nav-bar>
  <div class="cuerpo">
    <div id="titulo">Retiros</div>
    <hr class="line" />
    <div id="withdrawals">
      puedes optar por retirar a tu cuenta bancaria o retirar en cajero mediante
      punto efectivo con tu número de dni y teléfono celular.
    </div>
    <body>
      <div>
        <div id="accordion">
          <div class="card2">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button
                  class="btn"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="false"
                  aria-controls="collapseOne"
                >
                  Cuenta Bancaria
                </button>
              </h5>
            </div>

            <div
              id="collapseOne"
              class="collapse"
              aria-labelledby="headingOne"
              data-parent="#accordion"
            >
              <div class="card-body">
                <app-bank-acc></app-bank-acc>
              </div>
            </div>
          </div>
          <div class="card2">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button
                  class="btn"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Punto Efectivo
                </button>
              </h5>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordion"
            >
              <div class="card-body">
                <app-efec-punt></app-efec-punt>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button class="nxt-button">Continuar</button>
        </div>
      </div>
    </body>
  </div>
</div>
