<div id="titulo">
    Retirar dinero     
</div>

    <body>
        <div id="withdrawals">
            Puedes optar por retirar a tu cuenta bancaria
            o retirar en cajero mediante Punto Efectivo con
            tu número de DNI y teléfono celular.
        </div>
        <form>
            <div>Elige cuenta propia o punto efectivo</div>
            <div>   
                <input name="retiro tipo" Type="radio" id="Cuenta Propia" Value="Cuenta Propia">
                <label for="Cuenta Propia">Cuenta Propia</label>
            </div>
            <div>
                <input name="retiro tipo" Type="radio" id="Punto Efectivo" Value="Punto Efectivo">
                <label for="Punto Efectivo">Punto Efectivo</label>
            </div>
        </form>
        <form>  
            <div>Pon el número de CVU, CBU o alias.</div> <!--dependiendo de cual se elija, deberia aparecer este o los otros dos-->
               <div> <input name="transfer code" Type="text" maxlength="22" class="cuadros"/> </div>
            <div>Pon tu número de DNI.</div>
                <div> <input class="cuadros" name="DNI" maxlength="10"/> </div>
            <div>Pon tu número de celular.</div>
                <div> <input class="cuadros" name="celnum" type="tel" maxlength="20"/> </div>
        </form>

    </body>