.cuerpo {
  margin: 3%;
  padding: 5%;
  border-radius: 10px;
  text-align: center;
  margin-left: 20%;
}

.card-body {
  background-color: #ebfffe;
}

.btn {
  font-weight: 500;
  font-size: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 25%;
  margin-top: 5%;
  margin-bottom: 2%;
}

@media screen and (max-width: 1040px) {
  .btn {
    width: 100%;
  }

  .cuerpo {
    margin: 0%;
  }
}
