<nav>
  <h1 routerLink="/" routerLinkActive="active" class="title">{{ title }}</h1>
  <ul>
    <hr />
    <li>
      <a routerLink="/account" routerLinkActive="active">Cuentas</a>
    </li>
    <hr />
    <li>
      <a routerLink="/operations/transfer" routerLinkActive="active"
        >Transferencias</a
      >
    </li>
    <li>
      <a routerLink="/retiros" routerLinkActive="active"
        >Extracciones</a
      >
    </li>
    <li>
      <a routerLink="/deposit" routerLinkActive="active">Depositar dinero</a>
    </li>
    <li>
      <a routerLink="/services" routerLinkActive="active">Pago de servicios</a>
    </li>
    <li>
      <a routerLink="/operations/action" routerLinkActive="active"
        >Compra y venta de dolares</a
      >
    </li>
    <hr />
    <li>
      <a routerLink="/faq" routerLinkActive="active">Preguntas Frecuentes</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">Contacto</a>
    </li>
  </ul>
</nav>
