
.hidden {
  display: none;
}

.buttons,
a {
  color: white;
  text-decoration: none;
}

nav {
  background-color: #00b3a6;
  color: white !important;
}

nav ul li {
  padding-bottom: 10%;
  padding-top: 10%;
  list-style: none; /* quita los estilos por defecto de lista */
}

a {
  text-decoration: none;
  color: white !important;
}

.title {
  font-weight: 500;
  margin-left: 20%;
  cursor: pointer;
}

@media (min-width: 1050px) {
  .mat-sidenav-content {
    display: none;
  }
}
