.hidden {
  display: none;
}

mat-nav-list {
  height: 100vh;
  background-color: #00b3a6;
  color: white !important;
  padding-top: 7%;
  padding-right: 15% !important;
}

mat-nav-list li {
  margin-bottom: 17%;
  margin-top: 17%;
  list-style: none; /* quita los estilos por defecto de lista */
}

.title {
  font-weight: 500;
  margin-left: 25%;
  padding-top: 5%;
  cursor: pointer;
}

@media (min-width: 1050px) {
  .mat-sidenav-content {
    display: none;
  }
}
