<body>
<div>
  <app-stepper #stepper>
    <!-- Paso 1 -->
    <cdk-step [stepControl]="formgroup">
      <form [formGroup]="formgroup">
        <div
          class="card p-3 shadow-sm col-10"
          [@opacidad]="stepper.selectedIndex === 0 ? 'visible' : 'hide'"
        >
          <div class="card-body">
            <h3>Tranferencias</h3>
            <hr />
            <fieldset class="mb-4">
              <legend class="fw-light">DATOS DE DÉBITO</legend>
              <div class="row">
                <div class="col-6">
                  <label for="debit" class="form-label">Cuenta débito</label>
                  <select class="form-select" id="debit" placeholder="CBU / CVU" formControlName="débito">
                    <option [ngValue]="origen" *ngFor="let origen of origenes">                      
                    {{ origen.tipo }} {{ origen.moneda.simbolo }} {{ origen.id | mask: "0000000-0 000-0" }}
                    </option>
                  </select>
                </div>
                <div class="col-4">
                  <label for="monto" class="form-label">Monto</label>
                  <input
                    type="text"
                    id="monto"
                    required
                    prefix="{{ origen?.moneda?.simbolo }} "
                    mask="separator,00"
                    thousandSeparator="."
                    placeholder="{{ origen?.moneda?.simbolo }}"
                    class="form-control form-control fs-3 py-1"
                    formControlName="monto"
                  />
                </div>
              </div>
            </fieldset>

            <fieldset class="mb-3">
              <legend class="fw-light">DATOS DE CRÉDITO</legend>
              <div class="row mb-3">
                <div class="col-6">
                  <label for="credit" class="form-label"
                    >Cuenta crédito</label
                  >
                  <input
                    class="form-control"
                    id="credit"
                    placeholder="CBU / CVU"
                    mask="9999999999999999999999"
                    formControlName="cbu"
                  />
                </div>
                <div class="col" formGroupName="info">
                  <label for="concept" class="form-label">Concepto</label>
                  <select class="form-select" formControlName="concepto">
                    <option
                      [ngValue]="concepto"
                      *ngFor="let concepto of conceptos"
                    >
                      {{ concepto.nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row" formGroupName="info">
                <div class="col">
                  <label for="desc" class="form-label">Descripción</label>
                  <textarea
                    class="form-control"
                    id="desc"
                    formControlName="desc"
                  ></textarea>
                </div>
                <div class="col">
                  <label for="email" class="form-label"
                    >E-mail de notificación</label
                  >
                  <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email"
                  />
                </div>
              </div>
            </fieldset>
            <button
              type="button"
              class="btn btn-primary float-end my-3 p-2 rounded-pill w-25"
              (click)="Validar()"
              [disabled]="formgroup.invalid"
            >
              Continuar
            </button>
          </div>
        </div>
      </form>
      <ng-template #dialog>
        <div style="width: 20em">
          <span mat-dialog-title>Error</span>
          <span mat-dialog-content>{{ error }}</span>
          <div mat-dialog-actions>
            <button class="btn btn-primary my-3" mat-dialog-close>
              Cerrar
            </button>
          </div>
        </div>
      </ng-template>

      <div class="alert alert-secondary col-3 my-3" role="alert">
        <b>Prueba CBU</b>
        <li>4567891011100000987654</li>
        <li>9876543033308000123456</li>
        <hr />
        <span
          ><h5>
            <b>Saldo:</b>
            {{ origen?.saldo | currency: origen?.moneda?.simbolo + " " }}
          </h5></span
        >
      </div>
    </cdk-step>
    <!-- Paso 2 -->
    <cdk-step>
      <div
        class="card p-3 shadow-sm col-7"
        [@opacidad]="stepper.selectedIndex === 1 ? 'visible' : 'hide'"
      >
        <div class="card-body">
          <h3>Confirmar transferencia</h3>
          <hr />
          <fieldset class="mb-4" style="font-size: large">
            <legend class="fw-bold">TRANSFIRIENDO A</legend>
            <div class="row">
              <label class="col-2 col-form-label">Titular</label>
              <div class="col col-form-label">
                <span>{{ transfer.destino?.titular }}</span>
              </div>
            </div>
            <div class="row">
              <label class="col-2 col-form-label">Monto</label>
              <div class="col col-form-label">
                <span>{{ transfer.monto | currency: origen?.moneda?.simbolo + " " }}</span>
              </div>
            </div>
          </fieldset>

          <fieldset class="mb-4" style="font-size: large">
            <legend class="fw-bold">DETALLE DE TRANSFERENCIA</legend>
            <div class="row">
              <label class="col-3 col-form-label">Entidad</label>
              <div class="col col-form-label">
                <span>{{ transfer.destino?.entidad.nombre }}</span>
              </div>
            </div>
            <div class="row">
              <label class="col-3 col-form-label">CBU</label>
              <div class="col col-form-label">
                <span>{{ transfer.destino?.CBU }}</span>
              </div>
            </div>
            <div class="row">
              <label class="col-3 col-form-label">Concepto</label>
              <div class="col col-form-label">
                <span>{{ transfer.info.concepto.nombre }}</span>
              </div>
            </div>
            <div class="row">
              <label class="col-3 col-form-label">Email</label>
              <div class="col col-form-label">
                <span>{{ transfer.info.email }}</span>
              </div>
            </div>
          </fieldset>
          <button
            type="button"
            class="btn btn-primary float-end my-3 p-2 rounded-pill"
            style="width: 10em"
            (click)="Transferir()"
          >
            Transferir
          </button>
          <button
            class="btn btn-danger float-end my-3 me-3 p-2 rounded-pill"
            style="width: 8em"
            cdkStepperPrevious
          >
            Volver
          </button>
        </div>
      </div>
    </cdk-step>
    <!-- Paso 3 -->
    <cdk-step>
      <div
        class="card p-3 shadow-sm col-8"
        [@opacidad]="stepper.selectedIndex === 2 ? 'visible' : 'hide'"
      >
        <div class="card-body text-center">
          <div class="row">
            <img src="/assets/transfer.jpg" class="rounded" />
            <h3 class="mt-4">Transferencia realizada con éxito</h3>
          </div>
          <div class="row">
            <button
              class="btn btn-primary btn-lg mx-auto my-3 p-2 rounded-pill"
              style="width: 10em"
              (click)="formgroup.reset(); stepper.reset()"
            >
              Volver al inicio
            </button>
          </div>
        </div>
      </div>
    </cdk-step>
  </app-stepper>
</div>
</body>