<div class="container-fluid col-6">
    <form class="card p-3 shadow-sm">
      <div class="card-body">
        <div *ngIf="this.sc.process" id="spinner" class="spinner-grow spinner-grow-sm float-end m-2"></div>
        <h3>Cotización</h3>
        <hr />
        <table class="table">
          <thead>
            <tr>
              <td>Moneda</td>
              <td>Compra</td>
              <td>Venta</td>
            </tr>
          </thead>
         
          <tbody *ngIf="!this.sc.process">
            <tr *ngFor="let item of ejemplo">
              <td>{{ item.nombre._text }}</td>
              <td>{{ item.compra._text }}</td>
              <td>{{ item.venta._text }}</td>
            </tr>
          </tbody>
       </table>
      </div>
    </form>
  </div>
