<body>
  <div>
    <div>Depositar fondos</div>
    <form>
      <div>
        <div>
          <input name="amount" type="number" />
          <label>
            <div>Cantidad</div>
          </label>
        </div>
      </div>
      <div>
        <input
          name="credit"
          maxLength="16"
          placeholder="Número de la tarjeta"
        />
      </div>
      <div>
        <input name="name" placeholder="Nombre en la tarjeta" />
        <input name="date" placeholder="MM/AA" />
        <input name="cvc" placeholder="CVC" />
      </div>
      <div>
        <button type="submit">Depositar</button>
      </div>
    </form>
  </div>
  <div>
    <button type="submit">Agregar un Servicio</button>
  </div>
</body>
