<body>
  <div>
    <div>Depositar fondos</div>
    <form>
      <div>
        <div>
          <input name="amount" type="number" />
          <label>
            <div>Cantidad</div>
          </label>
        </div>
      </div>
      <div>
        <input
          name="credit"
          maxLength="16"
          placeholder="Número de la tarjeta"
        />
      </div>
      <div>
        <input name="name" placeholder="Nombre en la tarjeta" />
        <input name="date" placeholder="MM/AA" />
        <input name="cvc" placeholder="CVC" />
      </div>
      <div>
        <button type="submit">Depositar</button>
      </div>
    </form>
  </div>
  <div class="holder" ng-controller="SampleController as actions" >
    <div>
      <h1>Hi {{ name }}, your account balance is</h1>
      <div>${{ balance }}</div>
    </div>
    <h3>Pay up</h3>
    <input type="number" ng-model="actions.payment" />
    <p>Pay up: {{ payment }}</p>
    <button ng-click="actions .payMoney()">Pay The Money</button>
  </div>
  <div>
    <a routerLink="/services" routerLinkActive="active" type="submit">
      Agregar un Servicio
    </a>
    <div>
      <a routerLink="/retiros" routerLinkActive="active" type="submit">
      Retirar dinero
    </a>
    </div>
  </div>
</body>
