body {
  background-color: #f0f0f0;
}

.large {
  grid-row-end: span 2;
}

.container {
  padding-top: 3%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.container .box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  align-items: center;
}

.profile_name {
  font-weight: 600;
  margin: 0 20px;
  font-size: 15px;
}

.balance_text {
  font-size: 15px;
  color: #979797;
}

.amount {
  font-weight: 600;
  font-size: 36px;
}


@media (max-width: 1050px) {
  .large .container .box {
    grid-template-columns: repeat(1, 1fr); 
    grid-row: span 1;
  }
  .large {
    display: none;
  }
}