@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
}

.profile {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 20px 0;
}

.profile_picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin: 0;
}

.profile_picture img {
  width: 50%;
}

.profile_name {
  font-weight: 600;
  margin: 0 20px;
  font-size: 15px;
}

.balance {
  margin: 20px 0;
}

.balance_text {
  font-size: 15px;
  color: #979797;
  margin-bottom: 10px;
}

.amount {
  font-weight: 600;
  font-size: 36px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  border-radius: 20px;
  padding: 25px 30px;
}

.card_information {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.nav_tab {
  font-size: 16px;
  font-weight: 600;
  color: #979797;
  width: 150px;
  cursor: pointer;
}

.content {
  margin-top: 15px;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  height: 0;
}

.content:first-child {
  opacity: 1;
  height: auto;
}

.today {
  display: flex;
  justify-content: space-between;
  color: #d5d5d5;
}

.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.transaction__who {
  display: flex;
  align-items: center;
}

.transaction_who figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 20px;
}

.transaction_who img {
  width: 40%;
}
