<body>
  <div class="wrapper">
    <div class="slidenav">
      <nav>
        <h1 class="title">{{title}}</h1>
        <ul>
          <li>
            <a>Thing</a>
          </li>
          <li>
            <a>Thing</a>
          </li>
          <li>
            <a>Thing</a>
          </li>
          <li>
            <a>Thing</a>
          </li>
          <li>
            <a>Thing</a>
          </li>
          <li>
            <a>Thing</a>
          </li>
          <li>
            <a>Thing</a>
          </li>
          <li>
            <a>Thing</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="site">
      <div class="container">
        <!-- Box A -->
        <div class="box">
          <app-balance></app-balance>
        </div>
        <!-- Box B -->

        <div class="box large">
          <app-movements></app-movements>
        </div>
        <!-- Box C -->
        <div class="box">
          <app-group-operations></app-group-operations>
        </div>
        <!-- Box D -->
        <div class="box">
          <app-cotizaciones></app-cotizaciones>
        </div>
        <!-- Box E -->
        <div class="box">
          <app-facturas></app-facturas>
        </div>
      </div>
    </div>
  </div>
</body>
