body {
  background-color: #f0f0f0;
  padding-left: 20%;
}

.container {
  padding-top: 3%;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.container .box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1050px) {
  .container {
    display: block;
  }
  #bills{
    display: none;
  }
}
