<body>
  <div class="container">
    <!-- Box A -->
    <div class="box">
      <app-balance></app-balance>
    </div>
    <!-- Box B -->

    <div class="box large">
      <app-movements></app-movements>
    </div>
    <!-- Box C -->
    <div class="box">
      <h2>Los botones de la foto</h2>
      <a routerLink="/services" routerLinkActive="active" type="submit">
        Agregar un Servicio
      </a>
    </div>
    <!-- Box D -->
    <div class="box">
      <h2>Cotizaciones</h2>
      <p>Bilardo</p>
      <p>Bielsa</p>
      <p>Oscar Ruggeri</p>
    </div>
    <!-- Box E -->
    <div class="box">
      <h2>Facturas por vencer</h2>
      <p>Epec</p>
      <p>Bielsa</p>
    </div>
  </div>
</body>
