<body>
  <div class="wrapper">
    <div class="slidenav">
      <app-left-nav-bar></app-left-nav-bar>
    </div>
    <div class="site">
      <div class="container">
        <!-- Box A -->
        <div class="box">
          <app-balance></app-balance>
        </div>
        <!-- Box B -->
        <div class="box large">
          <app-movements></app-movements>
        </div>
        <!-- Box C -->
        <div style="padding-top: 5%" class="box">
          <app-facturas></app-facturas>
        </div>
      </div>
    </div>
  </div>
</body>
