<app-header></app-header>

<div class="global-container">
  <div class="card register-form">
    <mat-stepper #stepper>
      <mat-step>
        <h3 class="card-title">
          <span> Para crear tu cuenta necesitamos validar tus datos </span>
        </h3>
        <p>
          El proceso puede tomarte unos minutos. Recordá tener a mano tu DNI.
        </p>
        <p>
          El proceso puede tomarte unos minutos. Recordá tener a mano tu DNI.
        </p>
        <p>
          El proceso puede tomarte unos minutos. Recordá tener a mano tu DNI.
        </p>
        <div class="form-button">
          <button mat-button matStepperNext type="submit" class="btn btn-block">
            Continuar
          </button>
        </div>
      </mat-step>
      <mat-step>
        <h3>Tus datos</h3>
        <p>
          Valida tus datos para que nadie pueda ingresar o crear una cuenta a tu
          nombre
        </p>
        <button>Validar e-mail</button>
        <button>Validar tu identidad</button>
        <div class="form-button">
          <button mat-button matStepperNext type="submit" class="btn btn-block">
            Continuar
          </button>
        </div>
      </mat-step>
      <mat-step required errorMessage="E-mail is required.">
        <form [formGroup]="firstFormGroup">
          <h3>Ingresa tu e-mail</h3>
          <p>Te enviaremos un mensaje para confirmarlo.</p>
          <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label><br />
            <input
              class="input-email"
              matInput
              placeholder="Correo electronico"
            />
          </mat-form-field>
          <div class="form-button">
            <button
              mat-button
              matStepperNext
              type="submit"
              class="btn btn-block"
              type="submit"
            >
              Enviar mail de confirmación
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <p>Ingresa el codigo que te enviamos por e-mail</p>

        <input class="input-email" type="number" placeholder="Codigo" /> <br />
        <div class="form-button">
          <button mat-button matStepperNext type="submit" class="btn btn-block">
            Confirmar código
          </button>
        </div>
      </mat-step>

      <mat-step>
        <form>
          <mat-form-field appearance="fill">
            <mat-label>Foto</mat-label>
            <input
              #imageInput
              type="file"
              accept="image/*"
              (change)="processFile(imageInput)"
            />
          </mat-form-field>

          <div class="form-button">
            <button mat-button matStepperNext class="btn btn-block">
              Continuar
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field appearance="fill">
            <h3 class="card-title text-left">
              <span> Elige un nombre de usuario y una contraseña </span>
            </h3>
            <input
              matInput
              placeholder="Nombre de usuario"
              formControlName="firstCtrl"
              required
            />
            <input
              matInput
              placeholder="Contraseña"
              formControlName="firstCtrl"
              required
            />
            <input
              matInput
              placeholder="Repetir contraseña"
              formControlName="firstCtrl"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Continuar</button>
            <button mat-button matStepperNext>Atrás</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>Validamos tu información.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
